ul {
	list-style: none;
}

.navbar-custom {
	background-color: #dc182d;
}

.youtube, .local, .iPlayer {
	padding: 40px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.selected {
	border: 1px solid #dc182d;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

