ul {
	list-style: none;
}

.navbar-custom {
	background-color: #dc182d;
}

.youtube, .local {
	padding: 40px;
	border: 1px solid lightgrey;
	border-radius: 5px;
}

.selected {
	border: 1px solid #dc182d;
}

